<h1>Create a Sub!</h1>

<form action="<%= subs_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="title">Title
    <input type="text" id="title" name="sub[title]" value="<%= @sub.title %>">
  </label>
  <br>
  <br>
  <label for="description">Description
  <br>
    <textarea name="sub[description]" id="description" cols="30" rows="10">
      <%= @sub.description %>
    </textarea>
  </label>
  <br>
  <input type="submit" value="SUBmit">
</form>